.login {
  background-image: url("./assets/bg.png");
  background-size: cover;
  background-position: center;
}

.hero-text {
  font-family: "Great Vibes", cursive;
}

::-webkit-scrollbar {
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
