html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1371px 1054px #fff, 1225px 1983px #fff, 50px 219px #fff,
    823px 1455px #fff, 1485px 448px #fff, 1103px 1266px #fff, 1127px 1935px #fff,
    891px 1811px #fff, 1459px 1574px #fff, 505px 222px #fff, 1632px 1879px #fff,
    1681px 1405px #fff, 913px 1609px #fff, 1667px 399px #fff, 1697px 1635px #fff,
    1698px 1314px #fff, 1226px 1130px #fff, 1546px 1188px #fff, 506px 80px #fff,
    1332px 754px #fff, 1586px 952px #fff, 1451px 1247px #fff, 1831px 219px #fff,
    994px 1247px #fff, 1393px 1281px #fff, 1673px 229px #fff, 230px 1196px #fff,
    1430px 983px #fff, 1418px 1868px #fff, 1600px 1699px #fff,
    1410px 1441px #fff, 33px 1993px #fff, 928px 1910px #fff, 1738px 735px #fff,
    1972px 1148px #fff, 909px 395px #fff, 1972px 178px #fff, 971px 1983px #fff,
    965px 1096px #fff, 425px 1359px #fff, 1953px 107px #fff, 488px 614px #fff,
    105px 818px #fff, 1366px 579px #fff, 357px 1227px #fff, 928px 775px #fff,
    1481px 367px #fff, 771px 1718px #fff, 947px 424px #fff, 413px 1655px #fff,
    951px 490px #fff, 1109px 560px #fff, 1051px 645px #fff, 602px 1957px #fff,
    1904px 1763px #fff, 967px 1338px #fff, 1163px 1709px #fff, 1856px 841px #fff,
    927px 734px #fff, 1627px 854px #fff, 105px 954px #fff, 354px 1416px #fff,
    1403px 1527px #fff, 1762px 318px #fff, 1922px 1882px #fff, 578px 1263px #fff,
    1155px 1700px #fff, 1062px 1543px #fff, 462px 1714px #fff,
    1473px 1878px #fff, 1649px 1741px #fff, 581px 1730px #fff,
    1734px 1923px #fff, 1215px 1165px #fff, 271px 643px #fff, 348px 584px #fff,
    654px 1528px #fff, 1914px 718px #fff, 1969px 1606px #fff, 1548px 400px #fff,
    1952px 426px #fff, 1546px 1903px #fff, 703px 2px #fff, 1720px 756px #fff,
    688px 750px #fff, 1062px 397px #fff, 1219px 524px #fff, 76px 76px #fff,
    682px 1946px #fff, 904px 1615px #fff, 471px 557px #fff, 1105px 885px #fff,
    782px 247px #fff, 1861px 1755px #fff, 1066px 1038px #fff, 536px 1949px #fff,
    1244px 753px #fff, 1171px 114px #fff, 1530px 62px #fff, 25px 1718px #fff,
    1114px 668px #fff, 932px 192px #fff, 1138px 494px #fff, 1104px 789px #fff,
    1637px 383px #fff, 644px 629px #fff, 1106px 571px #fff, 1335px 56px #fff,
    14px 295px #fff, 1463px 1241px #fff, 1334px 1374px #fff, 191px 1256px #fff,
    1708px 299px #fff, 806px 122px #fff, 1616px 430px #fff, 625px 688px #fff,
    1360px 505px #fff, 1471px 22px #fff, 298px 231px #fff, 191px 1826px #fff,
    1036px 1745px #fff, 1184px 1043px #fff, 836px 170px #fff, 1731px 608px #fff,
    1945px 1554px #fff, 1588px 107px #fff, 1932px 1913px #fff, 1026px 340px #fff,
    246px 1375px #fff, 1037px 1840px #fff, 789px 1498px #fff, 816px 392px #fff,
    397px 1166px #fff, 164px 1963px #fff, 1087px 913px #fff, 1066px 1605px #fff,
    1317px 1968px #fff, 7px 831px #fff, 164px 836px #fff, 578px 1599px #fff,
    678px 1371px #fff, 1351px 1900px #fff, 908px 1520px #fff, 1024px 1854px #fff,
    1385px 504px #fff, 607px 519px #fff, 690px 432px #fff, 369px 1901px #fff,
    689px 270px #fff, 1695px 899px #fff, 824px 995px #fff, 306px 955px #fff,
    360px 1701px #fff, 422px 628px #fff, 650px 1513px #fff, 622px 758px #fff,
    133px 1994px #fff, 1093px 1461px #fff, 201px 1449px #fff, 397px 873px #fff,
    1244px 723px #fff, 1316px 81px #fff, 1924px 1019px #fff, 515px 1077px #fff,
    1976px 928px #fff, 1315px 961px #fff, 988px 59px #fff, 109px 661px #fff,
    243px 1967px #fff, 906px 811px #fff, 1769px 1623px #fff, 1634px 1269px #fff,
    258px 3px #fff, 867px 969px #fff, 1761px 551px #fff, 329px 443px #fff,
    1881px 1590px #fff, 1039px 1991px #fff, 1215px 1123px #fff,
    1974px 1032px #fff, 1295px 1038px #fff, 218px 1448px #fff, 726px 1508px #fff,
    655px 994px #fff, 1529px 1910px #fff, 1451px 1601px #fff, 1446px 1871px #fff,
    714px 1515px #fff, 1260px 1757px #fff, 1474px 435px #fff, 1951px 1996px #fff,
    1968px 1510px #fff, 291px 1290px #fff, 84px 1008px #fff, 1357px 982px #fff,
    1218px 402px #fff, 1929px 985px #fff, 157px 1765px #fff, 567px 1992px #fff,
    528px 251px #fff, 1114px 1299px #fff, 1279px 1976px #fff, 743px 1756px #fff,
    391px 1461px #fff, 1281px 1472px #fff, 292px 387px #fff, 802px 1446px #fff,
    654px 31px #fff, 276px 1871px #fff, 739px 768px #fff, 1589px 1628px #fff,
    494px 183px #fff, 723px 982px #fff, 1412px 835px #fff, 1161px 709px #fff,
    1593px 876px #fff, 1013px 831px #fff, 439px 1479px #fff, 1122px 1913px #fff,
    1803px 824px #fff, 1981px 1250px #fff, 178px 672px #fff, 100px 1950px #fff,
    1226px 832px #fff, 493px 485px #fff, 1029px 949px #fff, 635px 1046px #fff,
    1158px 1339px #fff, 1635px 36px #fff, 805px 430px #fff, 954px 542px #fff,
    1039px 1917px #fff, 239px 819px #fff, 37px 1027px #fff, 1527px 735px #fff,
    1918px 1428px #fff, 658px 1875px #fff, 1290px 594px #fff, 1px 82px #fff,
    1101px 883px #fff, 1906px 1252px #fff, 1016px 1142px #fff, 1087px 490px #fff,
    1095px 154px #fff, 660px 239px #fff, 1843px 1218px #fff, 1981px 1869px #fff,
    466px 1525px #fff, 1605px 1284px #fff, 714px 1651px #fff, 1098px 1591px #fff,
    161px 1447px #fff, 1451px 1990px #fff, 584px 506px #fff, 771px 1221px #fff,
    1352px 1278px #fff, 1816px 35px #fff, 1121px 113px #fff, 150px 1020px #fff,
    1645px 1000px #fff, 103px 952px #fff, 1120px 1040px #fff, 1375px 406px #fff,
    1215px 1686px #fff, 262px 1296px #fff, 992px 1080px #fff, 1246px 601px #fff,
    1961px 687px #fff, 334px 1530px #fff, 1563px 612px #fff, 1610px 724px #fff,
    1154px 928px #fff, 34px 1619px #fff, 1974px 1330px #fff, 1078px 1851px #fff,
    1910px 1543px #fff, 777px 1609px #fff, 981px 664px #fff, 373px 1669px #fff,
    980px 1754px #fff, 1516px 1986px #fff, 1931px 1118px #fff, 1849px 820px #fff,
    927px 282px #fff, 1158px 783px #fff, 305px 129px #fff, 1037px 717px #fff,
    800px 1753px #fff, 1607px 1050px #fff, 680px 1700px #fff, 125px 1894px #fff,
    1236px 989px #fff, 1299px 363px #fff, 1529px 1531px #fff, 338px 1461px #fff,
    569px 337px #fff, 160px 149px #fff, 746px 779px #fff, 618px 1984px #fff,
    1164px 1865px #fff, 1597px 1603px #fff, 1321px 880px #fff,
    1903px 1379px #fff, 912px 1584px #fff, 250px 1503px #fff, 1854px 1392px #fff,
    1049px 1484px #fff, 1432px 475px #fff, 665px 388px #fff, 28px 28px #fff,
    755px 1791px #fff, 1430px 1102px #fff, 1406px 1714px #fff,
    1491px 1068px #fff, 1254px 309px #fff, 485px 1769px #fff, 1964px 876px #fff,
    1739px 459px #fff, 703px 202px #fff, 1582px 1213px #fff, 396px 1051px #fff,
    943px 1756px #fff, 1394px 1648px #fff, 166px 963px #fff, 775px 1335px #fff,
    1127px 1381px #fff, 1932px 341px #fff, 159px 1451px #fff, 706px 1553px #fff,
    66px 1258px #fff, 1962px 1064px #fff, 1182px 718px #fff, 595px 1103px #fff,
    17px 1813px #fff, 598px 1646px #fff, 884px 697px #fff, 358px 688px #fff,
    430px 1270px #fff, 1452px 192px #fff, 698px 471px #fff, 910px 1100px #fff,
    1766px 1285px #fff, 93px 1224px #fff, 1666px 750px #fff, 1011px 1284px #fff,
    1247px 1137px #fff, 101px 1284px #fff, 1924px 1460px #fff, 67px 1421px #fff,
    1227px 1833px #fff, 574px 660px #fff, 1205px 1896px #fff, 839px 14px #fff,
    1918px 1061px #fff, 1633px 298px #fff, 1292px 1010px #fff, 990px 380px #fff,
    971px 819px #fff, 1009px 868px #fff, 1647px 1643px #fff, 1047px 1979px #fff,
    1162px 667px #fff, 1584px 1791px #fff, 1112px 963px #fff, 1199px 914px #fff,
    1009px 1846px #fff, 710px 458px #fff, 1292px 43px #fff, 530px 1466px #fff,
    299px 304px #fff, 1900px 1377px #fff, 178px 933px #fff, 1551px 200px #fff,
    223px 50px #fff, 1049px 501px #fff, 893px 933px #fff, 1054px 757px #fff,
    937px 116px #fff, 182px 1405px #fff, 1975px 701px #fff, 217px 1089px #fff,
    463px 1920px #fff, 268px 119px #fff, 36px 158px #fff, 914px 1536px #fff,
    1189px 357px #fff, 1113px 535px #fff, 1825px 143px #fff, 783px 1432px #fff,
    841px 1952px #fff, 1798px 802px #fff, 7px 849px #fff, 663px 1723px #fff,
    218px 1739px #fff, 1187px 1560px #fff, 1145px 1266px #fff,
    1128px 1884px #fff, 142px 1230px #fff, 1801px 745px #fff, 1350px 807px #fff,
    38px 633px #fff, 1968px 1570px #fff, 243px 1464px #fff, 1283px 138px #fff,
    273px 1315px #fff, 1044px 1409px #fff, 712px 1592px #fff, 1989px 1510px #fff,
    699px 1785px #fff, 1130px 1307px #fff, 851px 1878px #fff, 708px 83px #fff,
    1432px 1867px #fff, 1594px 1008px #fff, 506px 1148px #fff, 310px 876px #fff,
    218px 1364px #fff, 1319px 1826px #fff, 172px 43px #fff, 244px 916px #fff,
    229px 496px #fff, 758px 1083px #fff, 137px 611px #fff, 1455px 67px #fff,
    817px 1467px #fff, 857px 404px #fff, 1092px 1847px #fff, 685px 90px #fff,
    198px 499px #fff, 1903px 740px #fff, 1062px 1842px #fff, 1973px 255px #fff,
    1481px 939px #fff, 1498px 1255px #fff, 1089px 1316px #fff, 615px 338px #fff,
    1322px 502px #fff, 1338px 1842px #fff, 538px 1185px #fff, 1243px 757px #fff,
    1991px 1303px #fff, 1361px 1914px #fff, 1776px 95px #fff, 936px 804px #fff,
    626px 1235px #fff, 1581px 1431px #fff, 1274px 332px #fff, 2000px 1425px #fff,
    816px 870px #fff, 1146px 1375px #fff, 1456px 911px #fff, 791px 1426px #fff,
    168px 1273px #fff, 175px 701px #fff, 906px 1519px #fff, 24px 1067px #fff,
    78px 1104px #fff, 463px 1319px #fff, 928px 1741px #fff, 634px 1347px #fff,
    1901px 738px #fff, 1940px 1127px #fff, 885px 1474px #fff, 963px 472px #fff,
    215px 332px #fff, 1770px 1399px #fff, 939px 723px #fff, 494px 982px #fff,
    1126px 1025px #fff, 1666px 60px #fff, 192px 800px #fff, 48px 389px #fff,
    1517px 598px #fff, 901px 1144px #fff, 1826px 293px #fff, 945px 293px #fff,
    1029px 1152px #fff, 38px 742px #fff, 1881px 1131px #fff, 494px 1296px #fff,
    1977px 322px #fff, 166px 949px #fff, 1592px 1990px #fff, 402px 734px #fff,
    435px 758px #fff, 524px 192px #fff, 930px 1581px #fff, 975px 551px #fff,
    1423px 1695px #fff, 1329px 4px #fff, 1416px 469px #fff, 1426px 427px #fff,
    307px 1400px #fff, 641px 1461px #fff, 1024px 704px #fff, 1378px 827px #fff,
    441px 1260px #fff, 370px 309px #fff, 1719px 845px #fff, 262px 1370px #fff,
    10px 1825px #fff, 1672px 1288px #fff, 895px 1515px #fff, 22px 767px #fff,
    87px 343px #fff, 817px 217px #fff, 822px 667px #fff, 233px 828px #fff,
    1171px 1278px #fff, 512px 70px #fff, 723px 751px #fff, 1883px 1832px #fff,
    1531px 547px #fff, 1099px 1682px #fff, 812px 549px #fff, 1164px 474px #fff,
    735px 1707px #fff, 773px 881px #fff, 1504px 1066px #fff, 1793px 1875px #fff,
    1121px 752px #fff, 1014px 460px #fff, 1838px 829px #fff, 278px 136px #fff,
    609px 1249px #fff, 825px 370px #fff, 315px 1334px #fff, 1215px 910px #fff,
    1317px 1053px #fff, 1792px 870px #fff, 432px 654px #fff, 763px 1799px #fff,
    1075px 1765px #fff, 1960px 93px #fff, 1528px 693px #fff, 931px 1512px #fff,
    317px 70px #fff, 834px 1567px #fff, 862px 1154px #fff, 1773px 473px #fff,
    1525px 1366px #fff, 1690px 1067px #fff, 353px 215px #fff, 1157px 1553px #fff,
    1217px 1663px #fff, 1652px 929px #fff, 415px 1609px #fff, 142px 1565px #fff,
    1558px 412px #fff, 978px 1316px #fff, 950px 135px #fff, 186px 736px #fff,
    53px 1257px #fff, 911px 286px #fff, 619px 386px #fff, 1445px 88px #fff,
    896px 706px #fff, 286px 1712px #fff, 167px 1757px #fff, 1082px 712px #fff,
    1293px 519px #fff, 263px 1627px #fff, 221px 856px #fff, 1627px 843px #fff,
    953px 613px #fff, 1561px 700px #fff, 1176px 310px #fff, 198px 404px #fff,
    1143px 829px #fff, 1106px 992px #fff, 340px 126px #fff, 486px 1269px #fff,
    1193px 1345px #fff, 1434px 220px #fff, 1133px 956px #fff, 244px 1928px #fff,
    1455px 938px #fff, 695px 1529px #fff, 1715px 1161px #fff, 1858px 356px #fff,
    1236px 145px #fff, 1202px 1490px #fff, 1685px 1058px #fff,
    1550px 1202px #fff, 1188px 1515px #fff, 462px 991px #fff, 1886px 1748px #fff,
    973px 1510px #fff, 1360px 1199px #fff, 1618px 632px #fff, 1159px 349px #fff,
    1690px 1110px #fff, 795px 1490px #fff, 546px 828px #fff, 642px 1586px #fff,
    715px 1195px #fff, 575px 1940px #fff, 176px 588px #fff, 1222px 1132px #fff,
    560px 1849px #fff, 1941px 267px #fff, 1193px 416px #fff, 1588px 941px #fff,
    775px 598px #fff, 477px 1488px #fff, 966px 1117px #fff, 1078px 958px #fff,
    1612px 786px #fff, 1653px 583px #fff, 753px 773px #fff, 1856px 1819px #fff,
    410px 1988px #fff, 1248px 1142px #fff, 1903px 412px #fff, 1200px 702px #fff,
    486px 1501px #fff, 631px 620px #fff, 740px 1820px #fff, 882px 193px #fff,
    371px 1424px #fff, 1614px 1455px #fff, 1614px 908px #fff, 1011px 374px #fff,
    1734px 487px #fff, 62px 1046px #fff, 1021px 452px #fff, 1641px 1488px #fff,
    188px 395px #fff, 1385px 240px #fff, 1747px 434px #fff, 110px 645px #fff,
    1609px 189px #fff, 1118px 1091px #fff, 763px 535px #fff, 1186px 1518px #fff,
    249px 611px #fff, 562px 286px #fff, 1596px 958px #fff, 2000px 603px #fff,
    209px 1948px #fff, 1855px 1001px #fff, 161px 351px #fff, 1477px 24px #fff,
    1890px 427px #fff, 834px 1636px #fff, 892px 634px #fff, 445px 1539px #fff,
    196px 200px #fff, 1682px 1559px #fff, 849px 511px #fff, 861px 1205px #fff,
    714px 173px #fff, 824px 1115px #fff, 662px 462px #fff, 1282px 670px #fff,
    913px 801px #fff, 1974px 469px #fff, 1657px 1365px #fff, 1126px 1299px #fff,
    325px 1964px #fff, 892px 1603px #fff, 1647px 1747px #fff, 1982px 756px #fff,
    1579px 372px #fff, 503px 1726px #fff, 1328px 81px #fff, 357px 952px #fff,
    508px 1902px #fff, 1605px 1908px #fff, 105px 1536px #fff, 1141px 1836px #fff,
    434px 1414px #fff, 622px 718px #fff, 1690px 697px #fff, 1593px 1207px #fff,
    194px 609px #fff, 1404px 264px #fff, 1618px 1594px #fff, 712px 393px #fff,
    1072px 1470px #fff, 1061px 1074px #fff, 338px 490px #fff, 186px 1024px #fff,
    354px 576px #fff, 37px 1795px #fff, 904px 254px #fff, 904px 1527px #fff,
    741px 1734px #fff, 6px 1160px #fff, 1333px 919px #fff, 1233px 183px #fff,
    498px 1421px #fff, 1006px 471px #fff, 775px 1831px #fff, 1720px 212px #fff,
    988px 1163px #fff, 1882px 1962px #fff, 1504px 95px #fff, 317px 680px #fff,
    1424px 30px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1371px 1054px #fff, 1225px 1983px #fff, 50px 219px #fff,
    823px 1455px #fff, 1485px 448px #fff, 1103px 1266px #fff, 1127px 1935px #fff,
    891px 1811px #fff, 1459px 1574px #fff, 505px 222px #fff, 1632px 1879px #fff,
    1681px 1405px #fff, 913px 1609px #fff, 1667px 399px #fff, 1697px 1635px #fff,
    1698px 1314px #fff, 1226px 1130px #fff, 1546px 1188px #fff, 506px 80px #fff,
    1332px 754px #fff, 1586px 952px #fff, 1451px 1247px #fff, 1831px 219px #fff,
    994px 1247px #fff, 1393px 1281px #fff, 1673px 229px #fff, 230px 1196px #fff,
    1430px 983px #fff, 1418px 1868px #fff, 1600px 1699px #fff,
    1410px 1441px #fff, 33px 1993px #fff, 928px 1910px #fff, 1738px 735px #fff,
    1972px 1148px #fff, 909px 395px #fff, 1972px 178px #fff, 971px 1983px #fff,
    965px 1096px #fff, 425px 1359px #fff, 1953px 107px #fff, 488px 614px #fff,
    105px 818px #fff, 1366px 579px #fff, 357px 1227px #fff, 928px 775px #fff,
    1481px 367px #fff, 771px 1718px #fff, 947px 424px #fff, 413px 1655px #fff,
    951px 490px #fff, 1109px 560px #fff, 1051px 645px #fff, 602px 1957px #fff,
    1904px 1763px #fff, 967px 1338px #fff, 1163px 1709px #fff, 1856px 841px #fff,
    927px 734px #fff, 1627px 854px #fff, 105px 954px #fff, 354px 1416px #fff,
    1403px 1527px #fff, 1762px 318px #fff, 1922px 1882px #fff, 578px 1263px #fff,
    1155px 1700px #fff, 1062px 1543px #fff, 462px 1714px #fff,
    1473px 1878px #fff, 1649px 1741px #fff, 581px 1730px #fff,
    1734px 1923px #fff, 1215px 1165px #fff, 271px 643px #fff, 348px 584px #fff,
    654px 1528px #fff, 1914px 718px #fff, 1969px 1606px #fff, 1548px 400px #fff,
    1952px 426px #fff, 1546px 1903px #fff, 703px 2px #fff, 1720px 756px #fff,
    688px 750px #fff, 1062px 397px #fff, 1219px 524px #fff, 76px 76px #fff,
    682px 1946px #fff, 904px 1615px #fff, 471px 557px #fff, 1105px 885px #fff,
    782px 247px #fff, 1861px 1755px #fff, 1066px 1038px #fff, 536px 1949px #fff,
    1244px 753px #fff, 1171px 114px #fff, 1530px 62px #fff, 25px 1718px #fff,
    1114px 668px #fff, 932px 192px #fff, 1138px 494px #fff, 1104px 789px #fff,
    1637px 383px #fff, 644px 629px #fff, 1106px 571px #fff, 1335px 56px #fff,
    14px 295px #fff, 1463px 1241px #fff, 1334px 1374px #fff, 191px 1256px #fff,
    1708px 299px #fff, 806px 122px #fff, 1616px 430px #fff, 625px 688px #fff,
    1360px 505px #fff, 1471px 22px #fff, 298px 231px #fff, 191px 1826px #fff,
    1036px 1745px #fff, 1184px 1043px #fff, 836px 170px #fff, 1731px 608px #fff,
    1945px 1554px #fff, 1588px 107px #fff, 1932px 1913px #fff, 1026px 340px #fff,
    246px 1375px #fff, 1037px 1840px #fff, 789px 1498px #fff, 816px 392px #fff,
    397px 1166px #fff, 164px 1963px #fff, 1087px 913px #fff, 1066px 1605px #fff,
    1317px 1968px #fff, 7px 831px #fff, 164px 836px #fff, 578px 1599px #fff,
    678px 1371px #fff, 1351px 1900px #fff, 908px 1520px #fff, 1024px 1854px #fff,
    1385px 504px #fff, 607px 519px #fff, 690px 432px #fff, 369px 1901px #fff,
    689px 270px #fff, 1695px 899px #fff, 824px 995px #fff, 306px 955px #fff,
    360px 1701px #fff, 422px 628px #fff, 650px 1513px #fff, 622px 758px #fff,
    133px 1994px #fff, 1093px 1461px #fff, 201px 1449px #fff, 397px 873px #fff,
    1244px 723px #fff, 1316px 81px #fff, 1924px 1019px #fff, 515px 1077px #fff,
    1976px 928px #fff, 1315px 961px #fff, 988px 59px #fff, 109px 661px #fff,
    243px 1967px #fff, 906px 811px #fff, 1769px 1623px #fff, 1634px 1269px #fff,
    258px 3px #fff, 867px 969px #fff, 1761px 551px #fff, 329px 443px #fff,
    1881px 1590px #fff, 1039px 1991px #fff, 1215px 1123px #fff,
    1974px 1032px #fff, 1295px 1038px #fff, 218px 1448px #fff, 726px 1508px #fff,
    655px 994px #fff, 1529px 1910px #fff, 1451px 1601px #fff, 1446px 1871px #fff,
    714px 1515px #fff, 1260px 1757px #fff, 1474px 435px #fff, 1951px 1996px #fff,
    1968px 1510px #fff, 291px 1290px #fff, 84px 1008px #fff, 1357px 982px #fff,
    1218px 402px #fff, 1929px 985px #fff, 157px 1765px #fff, 567px 1992px #fff,
    528px 251px #fff, 1114px 1299px #fff, 1279px 1976px #fff, 743px 1756px #fff,
    391px 1461px #fff, 1281px 1472px #fff, 292px 387px #fff, 802px 1446px #fff,
    654px 31px #fff, 276px 1871px #fff, 739px 768px #fff, 1589px 1628px #fff,
    494px 183px #fff, 723px 982px #fff, 1412px 835px #fff, 1161px 709px #fff,
    1593px 876px #fff, 1013px 831px #fff, 439px 1479px #fff, 1122px 1913px #fff,
    1803px 824px #fff, 1981px 1250px #fff, 178px 672px #fff, 100px 1950px #fff,
    1226px 832px #fff, 493px 485px #fff, 1029px 949px #fff, 635px 1046px #fff,
    1158px 1339px #fff, 1635px 36px #fff, 805px 430px #fff, 954px 542px #fff,
    1039px 1917px #fff, 239px 819px #fff, 37px 1027px #fff, 1527px 735px #fff,
    1918px 1428px #fff, 658px 1875px #fff, 1290px 594px #fff, 1px 82px #fff,
    1101px 883px #fff, 1906px 1252px #fff, 1016px 1142px #fff, 1087px 490px #fff,
    1095px 154px #fff, 660px 239px #fff, 1843px 1218px #fff, 1981px 1869px #fff,
    466px 1525px #fff, 1605px 1284px #fff, 714px 1651px #fff, 1098px 1591px #fff,
    161px 1447px #fff, 1451px 1990px #fff, 584px 506px #fff, 771px 1221px #fff,
    1352px 1278px #fff, 1816px 35px #fff, 1121px 113px #fff, 150px 1020px #fff,
    1645px 1000px #fff, 103px 952px #fff, 1120px 1040px #fff, 1375px 406px #fff,
    1215px 1686px #fff, 262px 1296px #fff, 992px 1080px #fff, 1246px 601px #fff,
    1961px 687px #fff, 334px 1530px #fff, 1563px 612px #fff, 1610px 724px #fff,
    1154px 928px #fff, 34px 1619px #fff, 1974px 1330px #fff, 1078px 1851px #fff,
    1910px 1543px #fff, 777px 1609px #fff, 981px 664px #fff, 373px 1669px #fff,
    980px 1754px #fff, 1516px 1986px #fff, 1931px 1118px #fff, 1849px 820px #fff,
    927px 282px #fff, 1158px 783px #fff, 305px 129px #fff, 1037px 717px #fff,
    800px 1753px #fff, 1607px 1050px #fff, 680px 1700px #fff, 125px 1894px #fff,
    1236px 989px #fff, 1299px 363px #fff, 1529px 1531px #fff, 338px 1461px #fff,
    569px 337px #fff, 160px 149px #fff, 746px 779px #fff, 618px 1984px #fff,
    1164px 1865px #fff, 1597px 1603px #fff, 1321px 880px #fff,
    1903px 1379px #fff, 912px 1584px #fff, 250px 1503px #fff, 1854px 1392px #fff,
    1049px 1484px #fff, 1432px 475px #fff, 665px 388px #fff, 28px 28px #fff,
    755px 1791px #fff, 1430px 1102px #fff, 1406px 1714px #fff,
    1491px 1068px #fff, 1254px 309px #fff, 485px 1769px #fff, 1964px 876px #fff,
    1739px 459px #fff, 703px 202px #fff, 1582px 1213px #fff, 396px 1051px #fff,
    943px 1756px #fff, 1394px 1648px #fff, 166px 963px #fff, 775px 1335px #fff,
    1127px 1381px #fff, 1932px 341px #fff, 159px 1451px #fff, 706px 1553px #fff,
    66px 1258px #fff, 1962px 1064px #fff, 1182px 718px #fff, 595px 1103px #fff,
    17px 1813px #fff, 598px 1646px #fff, 884px 697px #fff, 358px 688px #fff,
    430px 1270px #fff, 1452px 192px #fff, 698px 471px #fff, 910px 1100px #fff,
    1766px 1285px #fff, 93px 1224px #fff, 1666px 750px #fff, 1011px 1284px #fff,
    1247px 1137px #fff, 101px 1284px #fff, 1924px 1460px #fff, 67px 1421px #fff,
    1227px 1833px #fff, 574px 660px #fff, 1205px 1896px #fff, 839px 14px #fff,
    1918px 1061px #fff, 1633px 298px #fff, 1292px 1010px #fff, 990px 380px #fff,
    971px 819px #fff, 1009px 868px #fff, 1647px 1643px #fff, 1047px 1979px #fff,
    1162px 667px #fff, 1584px 1791px #fff, 1112px 963px #fff, 1199px 914px #fff,
    1009px 1846px #fff, 710px 458px #fff, 1292px 43px #fff, 530px 1466px #fff,
    299px 304px #fff, 1900px 1377px #fff, 178px 933px #fff, 1551px 200px #fff,
    223px 50px #fff, 1049px 501px #fff, 893px 933px #fff, 1054px 757px #fff,
    937px 116px #fff, 182px 1405px #fff, 1975px 701px #fff, 217px 1089px #fff,
    463px 1920px #fff, 268px 119px #fff, 36px 158px #fff, 914px 1536px #fff,
    1189px 357px #fff, 1113px 535px #fff, 1825px 143px #fff, 783px 1432px #fff,
    841px 1952px #fff, 1798px 802px #fff, 7px 849px #fff, 663px 1723px #fff,
    218px 1739px #fff, 1187px 1560px #fff, 1145px 1266px #fff,
    1128px 1884px #fff, 142px 1230px #fff, 1801px 745px #fff, 1350px 807px #fff,
    38px 633px #fff, 1968px 1570px #fff, 243px 1464px #fff, 1283px 138px #fff,
    273px 1315px #fff, 1044px 1409px #fff, 712px 1592px #fff, 1989px 1510px #fff,
    699px 1785px #fff, 1130px 1307px #fff, 851px 1878px #fff, 708px 83px #fff,
    1432px 1867px #fff, 1594px 1008px #fff, 506px 1148px #fff, 310px 876px #fff,
    218px 1364px #fff, 1319px 1826px #fff, 172px 43px #fff, 244px 916px #fff,
    229px 496px #fff, 758px 1083px #fff, 137px 611px #fff, 1455px 67px #fff,
    817px 1467px #fff, 857px 404px #fff, 1092px 1847px #fff, 685px 90px #fff,
    198px 499px #fff, 1903px 740px #fff, 1062px 1842px #fff, 1973px 255px #fff,
    1481px 939px #fff, 1498px 1255px #fff, 1089px 1316px #fff, 615px 338px #fff,
    1322px 502px #fff, 1338px 1842px #fff, 538px 1185px #fff, 1243px 757px #fff,
    1991px 1303px #fff, 1361px 1914px #fff, 1776px 95px #fff, 936px 804px #fff,
    626px 1235px #fff, 1581px 1431px #fff, 1274px 332px #fff, 2000px 1425px #fff,
    816px 870px #fff, 1146px 1375px #fff, 1456px 911px #fff, 791px 1426px #fff,
    168px 1273px #fff, 175px 701px #fff, 906px 1519px #fff, 24px 1067px #fff,
    78px 1104px #fff, 463px 1319px #fff, 928px 1741px #fff, 634px 1347px #fff,
    1901px 738px #fff, 1940px 1127px #fff, 885px 1474px #fff, 963px 472px #fff,
    215px 332px #fff, 1770px 1399px #fff, 939px 723px #fff, 494px 982px #fff,
    1126px 1025px #fff, 1666px 60px #fff, 192px 800px #fff, 48px 389px #fff,
    1517px 598px #fff, 901px 1144px #fff, 1826px 293px #fff, 945px 293px #fff,
    1029px 1152px #fff, 38px 742px #fff, 1881px 1131px #fff, 494px 1296px #fff,
    1977px 322px #fff, 166px 949px #fff, 1592px 1990px #fff, 402px 734px #fff,
    435px 758px #fff, 524px 192px #fff, 930px 1581px #fff, 975px 551px #fff,
    1423px 1695px #fff, 1329px 4px #fff, 1416px 469px #fff, 1426px 427px #fff,
    307px 1400px #fff, 641px 1461px #fff, 1024px 704px #fff, 1378px 827px #fff,
    441px 1260px #fff, 370px 309px #fff, 1719px 845px #fff, 262px 1370px #fff,
    10px 1825px #fff, 1672px 1288px #fff, 895px 1515px #fff, 22px 767px #fff,
    87px 343px #fff, 817px 217px #fff, 822px 667px #fff, 233px 828px #fff,
    1171px 1278px #fff, 512px 70px #fff, 723px 751px #fff, 1883px 1832px #fff,
    1531px 547px #fff, 1099px 1682px #fff, 812px 549px #fff, 1164px 474px #fff,
    735px 1707px #fff, 773px 881px #fff, 1504px 1066px #fff, 1793px 1875px #fff,
    1121px 752px #fff, 1014px 460px #fff, 1838px 829px #fff, 278px 136px #fff,
    609px 1249px #fff, 825px 370px #fff, 315px 1334px #fff, 1215px 910px #fff,
    1317px 1053px #fff, 1792px 870px #fff, 432px 654px #fff, 763px 1799px #fff,
    1075px 1765px #fff, 1960px 93px #fff, 1528px 693px #fff, 931px 1512px #fff,
    317px 70px #fff, 834px 1567px #fff, 862px 1154px #fff, 1773px 473px #fff,
    1525px 1366px #fff, 1690px 1067px #fff, 353px 215px #fff, 1157px 1553px #fff,
    1217px 1663px #fff, 1652px 929px #fff, 415px 1609px #fff, 142px 1565px #fff,
    1558px 412px #fff, 978px 1316px #fff, 950px 135px #fff, 186px 736px #fff,
    53px 1257px #fff, 911px 286px #fff, 619px 386px #fff, 1445px 88px #fff,
    896px 706px #fff, 286px 1712px #fff, 167px 1757px #fff, 1082px 712px #fff,
    1293px 519px #fff, 263px 1627px #fff, 221px 856px #fff, 1627px 843px #fff,
    953px 613px #fff, 1561px 700px #fff, 1176px 310px #fff, 198px 404px #fff,
    1143px 829px #fff, 1106px 992px #fff, 340px 126px #fff, 486px 1269px #fff,
    1193px 1345px #fff, 1434px 220px #fff, 1133px 956px #fff, 244px 1928px #fff,
    1455px 938px #fff, 695px 1529px #fff, 1715px 1161px #fff, 1858px 356px #fff,
    1236px 145px #fff, 1202px 1490px #fff, 1685px 1058px #fff,
    1550px 1202px #fff, 1188px 1515px #fff, 462px 991px #fff, 1886px 1748px #fff,
    973px 1510px #fff, 1360px 1199px #fff, 1618px 632px #fff, 1159px 349px #fff,
    1690px 1110px #fff, 795px 1490px #fff, 546px 828px #fff, 642px 1586px #fff,
    715px 1195px #fff, 575px 1940px #fff, 176px 588px #fff, 1222px 1132px #fff,
    560px 1849px #fff, 1941px 267px #fff, 1193px 416px #fff, 1588px 941px #fff,
    775px 598px #fff, 477px 1488px #fff, 966px 1117px #fff, 1078px 958px #fff,
    1612px 786px #fff, 1653px 583px #fff, 753px 773px #fff, 1856px 1819px #fff,
    410px 1988px #fff, 1248px 1142px #fff, 1903px 412px #fff, 1200px 702px #fff,
    486px 1501px #fff, 631px 620px #fff, 740px 1820px #fff, 882px 193px #fff,
    371px 1424px #fff, 1614px 1455px #fff, 1614px 908px #fff, 1011px 374px #fff,
    1734px 487px #fff, 62px 1046px #fff, 1021px 452px #fff, 1641px 1488px #fff,
    188px 395px #fff, 1385px 240px #fff, 1747px 434px #fff, 110px 645px #fff,
    1609px 189px #fff, 1118px 1091px #fff, 763px 535px #fff, 1186px 1518px #fff,
    249px 611px #fff, 562px 286px #fff, 1596px 958px #fff, 2000px 603px #fff,
    209px 1948px #fff, 1855px 1001px #fff, 161px 351px #fff, 1477px 24px #fff,
    1890px 427px #fff, 834px 1636px #fff, 892px 634px #fff, 445px 1539px #fff,
    196px 200px #fff, 1682px 1559px #fff, 849px 511px #fff, 861px 1205px #fff,
    714px 173px #fff, 824px 1115px #fff, 662px 462px #fff, 1282px 670px #fff,
    913px 801px #fff, 1974px 469px #fff, 1657px 1365px #fff, 1126px 1299px #fff,
    325px 1964px #fff, 892px 1603px #fff, 1647px 1747px #fff, 1982px 756px #fff,
    1579px 372px #fff, 503px 1726px #fff, 1328px 81px #fff, 357px 952px #fff,
    508px 1902px #fff, 1605px 1908px #fff, 105px 1536px #fff, 1141px 1836px #fff,
    434px 1414px #fff, 622px 718px #fff, 1690px 697px #fff, 1593px 1207px #fff,
    194px 609px #fff, 1404px 264px #fff, 1618px 1594px #fff, 712px 393px #fff,
    1072px 1470px #fff, 1061px 1074px #fff, 338px 490px #fff, 186px 1024px #fff,
    354px 576px #fff, 37px 1795px #fff, 904px 254px #fff, 904px 1527px #fff,
    741px 1734px #fff, 6px 1160px #fff, 1333px 919px #fff, 1233px 183px #fff,
    498px 1421px #fff, 1006px 471px #fff, 775px 1831px #fff, 1720px 212px #fff,
    988px 1163px #fff, 1882px 1962px #fff, 1504px 95px #fff, 317px 680px #fff,
    1424px 30px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1170px 1557px #fff, 1999px 1441px #fff, 1312px 142px #fff,
    666px 872px #fff, 1886px 435px #fff, 910px 1291px #fff, 1250px 551px #fff,
    464px 833px #fff, 963px 1128px #fff, 658px 289px #fff, 1961px 337px #fff,
    588px 234px #fff, 515px 1532px #fff, 185px 1295px #fff, 1536px 1631px #fff,
    1409px 507px #fff, 142px 1630px #fff, 391px 1481px #fff, 264px 1983px #fff,
    1482px 727px #fff, 1706px 259px #fff, 1611px 1784px #fff, 656px 3px #fff,
    919px 216px #fff, 1211px 1093px #fff, 1529px 1270px #fff, 1620px 438px #fff,
    1302px 1718px #fff, 66px 1786px #fff, 1491px 411px #fff, 707px 915px #fff,
    283px 1242px #fff, 1074px 958px #fff, 1714px 1192px #fff, 568px 23px #fff,
    43px 744px #fff, 864px 859px #fff, 320px 471px #fff, 345px 757px #fff,
    1259px 660px #fff, 707px 1980px #fff, 41px 1004px #fff, 610px 1390px #fff,
    1814px 588px #fff, 1162px 1388px #fff, 1940px 217px #fff, 114px 1806px #fff,
    1477px 1375px #fff, 1902px 735px #fff, 1386px 184px #fff, 1528px 1238px #fff,
    1670px 1552px #fff, 1294px 1647px #fff, 1711px 849px #fff, 1573px 542px #fff,
    1062px 765px #fff, 911px 193px #fff, 1464px 1803px #fff, 208px 1303px #fff,
    1406px 274px #fff, 1218px 270px #fff, 718px 820px #fff, 1396px 825px #fff,
    1714px 1323px #fff, 1738px 1563px #fff, 1827px 199px #fff, 1308px 50px #fff,
    1129px 1429px #fff, 731px 1894px #fff, 801px 530px #fff, 1864px 1896px #fff,
    335px 1325px #fff, 1051px 503px #fff, 1691px 841px #fff, 1389px 1512px #fff,
    1661px 1908px #fff, 937px 1954px #fff, 1022px 144px #fff, 1942px 1803px #fff,
    81px 127px #fff, 1255px 206px #fff, 1803px 1273px #fff, 61px 1595px #fff,
    568px 1707px #fff, 1796px 781px #fff, 1757px 1180px #fff, 1136px 789px #fff,
    1447px 422px #fff, 238px 1820px #fff, 101px 1893px #fff, 611px 712px #fff,
    222px 1388px #fff, 470px 511px #fff, 1068px 862px #fff, 644px 5px #fff,
    614px 1652px #fff, 1147px 145px #fff, 529px 521px #fff, 748px 201px #fff,
    1767px 692px #fff, 764px 1013px #fff, 231px 265px #fff, 843px 460px #fff,
    1915px 1432px #fff, 1492px 972px #fff, 14px 1365px #fff, 1974px 173px #fff,
    1578px 623px #fff, 302px 514px #fff, 907px 1458px #fff, 1585px 532px #fff,
    1388px 1359px #fff, 444px 1310px #fff, 994px 1008px #fff, 1322px 369px #fff,
    909px 1371px #fff, 1628px 1693px #fff, 1612px 872px #fff, 768px 367px #fff,
    112px 1142px #fff, 1400px 973px #fff, 958px 1841px #fff, 703px 972px #fff,
    1628px 806px #fff, 1148px 828px #fff, 905px 1780px #fff, 924px 1370px #fff,
    563px 681px #fff, 1060px 1495px #fff, 1452px 1116px #fff, 1625px 1419px #fff,
    839px 988px #fff, 1793px 574px #fff, 1674px 1021px #fff, 1180px 724px #fff,
    521px 170px #fff, 369px 1089px #fff, 539px 567px #fff, 106px 540px #fff,
    740px 42px #fff, 294px 535px #fff, 1097px 219px #fff, 1271px 1345px #fff,
    1834px 420px #fff, 1619px 29px #fff, 34px 4px #fff, 341px 104px #fff,
    85px 632px #fff, 1098px 1140px #fff, 1662px 925px #fff, 1575px 24px #fff,
    1338px 1685px #fff, 544px 1048px #fff, 753px 1058px #fff, 928px 1933px #fff,
    685px 1844px #fff, 214px 962px #fff, 1472px 953px #fff, 513px 1983px #fff,
    1868px 1099px #fff, 1295px 87px #fff, 1804px 1742px #fff, 1458px 1719px #fff,
    763px 1920px #fff, 1305px 1804px #fff, 952px 644px #fff, 193px 1761px #fff,
    990px 365px #fff, 1352px 38px #fff, 886px 1580px #fff, 594px 758px #fff,
    841px 932px #fff, 1171px 695px #fff, 382px 996px #fff, 1600px 772px #fff,
    918px 26px #fff, 947px 1720px #fff, 248px 1086px #fff, 976px 45px #fff,
    207px 238px #fff, 731px 1218px #fff, 1347px 1343px #fff, 1443px 1409px #fff,
    963px 1653px #fff, 1822px 1346px #fff, 1608px 714px #fff, 292px 1835px #fff,
    1622px 1522px #fff, 1021px 1841px #fff, 1495px 1439px #fff, 500px 397px #fff,
    1338px 87px #fff, 851px 932px #fff, 1368px 672px #fff, 1509px 1629px #fff,
    1935px 1081px #fff, 970px 1848px #fff, 820px 486px #fff, 7px 314px #fff,
    92px 1641px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1170px 1557px #fff, 1999px 1441px #fff, 1312px 142px #fff,
    666px 872px #fff, 1886px 435px #fff, 910px 1291px #fff, 1250px 551px #fff,
    464px 833px #fff, 963px 1128px #fff, 658px 289px #fff, 1961px 337px #fff,
    588px 234px #fff, 515px 1532px #fff, 185px 1295px #fff, 1536px 1631px #fff,
    1409px 507px #fff, 142px 1630px #fff, 391px 1481px #fff, 264px 1983px #fff,
    1482px 727px #fff, 1706px 259px #fff, 1611px 1784px #fff, 656px 3px #fff,
    919px 216px #fff, 1211px 1093px #fff, 1529px 1270px #fff, 1620px 438px #fff,
    1302px 1718px #fff, 66px 1786px #fff, 1491px 411px #fff, 707px 915px #fff,
    283px 1242px #fff, 1074px 958px #fff, 1714px 1192px #fff, 568px 23px #fff,
    43px 744px #fff, 864px 859px #fff, 320px 471px #fff, 345px 757px #fff,
    1259px 660px #fff, 707px 1980px #fff, 41px 1004px #fff, 610px 1390px #fff,
    1814px 588px #fff, 1162px 1388px #fff, 1940px 217px #fff, 114px 1806px #fff,
    1477px 1375px #fff, 1902px 735px #fff, 1386px 184px #fff, 1528px 1238px #fff,
    1670px 1552px #fff, 1294px 1647px #fff, 1711px 849px #fff, 1573px 542px #fff,
    1062px 765px #fff, 911px 193px #fff, 1464px 1803px #fff, 208px 1303px #fff,
    1406px 274px #fff, 1218px 270px #fff, 718px 820px #fff, 1396px 825px #fff,
    1714px 1323px #fff, 1738px 1563px #fff, 1827px 199px #fff, 1308px 50px #fff,
    1129px 1429px #fff, 731px 1894px #fff, 801px 530px #fff, 1864px 1896px #fff,
    335px 1325px #fff, 1051px 503px #fff, 1691px 841px #fff, 1389px 1512px #fff,
    1661px 1908px #fff, 937px 1954px #fff, 1022px 144px #fff, 1942px 1803px #fff,
    81px 127px #fff, 1255px 206px #fff, 1803px 1273px #fff, 61px 1595px #fff,
    568px 1707px #fff, 1796px 781px #fff, 1757px 1180px #fff, 1136px 789px #fff,
    1447px 422px #fff, 238px 1820px #fff, 101px 1893px #fff, 611px 712px #fff,
    222px 1388px #fff, 470px 511px #fff, 1068px 862px #fff, 644px 5px #fff,
    614px 1652px #fff, 1147px 145px #fff, 529px 521px #fff, 748px 201px #fff,
    1767px 692px #fff, 764px 1013px #fff, 231px 265px #fff, 843px 460px #fff,
    1915px 1432px #fff, 1492px 972px #fff, 14px 1365px #fff, 1974px 173px #fff,
    1578px 623px #fff, 302px 514px #fff, 907px 1458px #fff, 1585px 532px #fff,
    1388px 1359px #fff, 444px 1310px #fff, 994px 1008px #fff, 1322px 369px #fff,
    909px 1371px #fff, 1628px 1693px #fff, 1612px 872px #fff, 768px 367px #fff,
    112px 1142px #fff, 1400px 973px #fff, 958px 1841px #fff, 703px 972px #fff,
    1628px 806px #fff, 1148px 828px #fff, 905px 1780px #fff, 924px 1370px #fff,
    563px 681px #fff, 1060px 1495px #fff, 1452px 1116px #fff, 1625px 1419px #fff,
    839px 988px #fff, 1793px 574px #fff, 1674px 1021px #fff, 1180px 724px #fff,
    521px 170px #fff, 369px 1089px #fff, 539px 567px #fff, 106px 540px #fff,
    740px 42px #fff, 294px 535px #fff, 1097px 219px #fff, 1271px 1345px #fff,
    1834px 420px #fff, 1619px 29px #fff, 34px 4px #fff, 341px 104px #fff,
    85px 632px #fff, 1098px 1140px #fff, 1662px 925px #fff, 1575px 24px #fff,
    1338px 1685px #fff, 544px 1048px #fff, 753px 1058px #fff, 928px 1933px #fff,
    685px 1844px #fff, 214px 962px #fff, 1472px 953px #fff, 513px 1983px #fff,
    1868px 1099px #fff, 1295px 87px #fff, 1804px 1742px #fff, 1458px 1719px #fff,
    763px 1920px #fff, 1305px 1804px #fff, 952px 644px #fff, 193px 1761px #fff,
    990px 365px #fff, 1352px 38px #fff, 886px 1580px #fff, 594px 758px #fff,
    841px 932px #fff, 1171px 695px #fff, 382px 996px #fff, 1600px 772px #fff,
    918px 26px #fff, 947px 1720px #fff, 248px 1086px #fff, 976px 45px #fff,
    207px 238px #fff, 731px 1218px #fff, 1347px 1343px #fff, 1443px 1409px #fff,
    963px 1653px #fff, 1822px 1346px #fff, 1608px 714px #fff, 292px 1835px #fff,
    1622px 1522px #fff, 1021px 1841px #fff, 1495px 1439px #fff, 500px 397px #fff,
    1338px 87px #fff, 851px 932px #fff, 1368px 672px #fff, 1509px 1629px #fff,
    1935px 1081px #fff, 970px 1848px #fff, 820px 486px #fff, 7px 314px #fff,
    92px 1641px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 212px 1000px #fff, 1131px 1477px #fff, 297px 170px #fff,
    899px 716px #fff, 1467px 1965px #fff, 1405px 1673px #fff, 1600px 654px #fff,
    460px 49px #fff, 553px 1808px #fff, 1183px 792px #fff, 1598px 324px #fff,
    281px 606px #fff, 129px 1967px #fff, 1556px 963px #fff, 701px 710px #fff,
    1628px 435px #fff, 314px 815px #fff, 1745px 628px #fff, 1263px 1121px #fff,
    1851px 1504px #fff, 1385px 1017px #fff, 960px 1686px #fff, 443px 270px #fff,
    1502px 1542px #fff, 1458px 587px #fff, 1543px 588px #fff, 952px 1922px #fff,
    1105px 1075px #fff, 303px 338px #fff, 617px 1434px #fff, 148px 951px #fff,
    874px 1433px #fff, 245px 1311px #fff, 243px 161px #fff, 1286px 798px #fff,
    1798px 1567px #fff, 758px 262px #fff, 1666px 97px #fff, 168px 1400px #fff,
    1714px 568px #fff, 79px 892px #fff, 395px 1838px #fff, 1629px 1345px #fff,
    1770px 1988px #fff, 30px 1689px #fff, 1462px 317px #fff, 68px 911px #fff,
    1210px 1998px #fff, 1550px 653px #fff, 1319px 1842px #fff,
    1780px 1759px #fff, 1155px 260px #fff, 301px 632px #fff, 954px 166px #fff,
    1033px 384px #fff, 203px 120px #fff, 447px 1719px #fff, 612px 809px #fff,
    1038px 237px #fff, 1126px 1545px #fff, 1942px 23px #fff, 121px 1767px #fff,
    704px 808px #fff, 1926px 1133px #fff, 1302px 655px #fff, 1030px 597px #fff,
    244px 1310px #fff, 190px 58px #fff, 1800px 383px #fff, 1925px 370px #fff,
    1382px 548px #fff, 316px 70px #fff, 1604px 1001px #fff, 1753px 1368px #fff,
    1478px 517px #fff, 1080px 971px #fff, 358px 634px #fff, 1735px 1458px #fff,
    907px 1911px #fff, 639px 909px #fff, 164px 1245px #fff, 152px 979px #fff,
    862px 994px #fff, 1171px 458px #fff, 404px 509px #fff, 1820px 1666px #fff,
    671px 1731px #fff, 1096px 1776px #fff, 416px 1164px #fff, 69px 1094px #fff,
    298px 1294px #fff, 273px 1406px #fff, 1550px 933px #fff, 819px 730px #fff,
    1961px 872px #fff, 1049px 256px #fff, 300px 29px #fff, 1445px 435px #fff,
    1693px 344px #fff, 1756px 1669px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 212px 1000px #fff, 1131px 1477px #fff, 297px 170px #fff,
    899px 716px #fff, 1467px 1965px #fff, 1405px 1673px #fff, 1600px 654px #fff,
    460px 49px #fff, 553px 1808px #fff, 1183px 792px #fff, 1598px 324px #fff,
    281px 606px #fff, 129px 1967px #fff, 1556px 963px #fff, 701px 710px #fff,
    1628px 435px #fff, 314px 815px #fff, 1745px 628px #fff, 1263px 1121px #fff,
    1851px 1504px #fff, 1385px 1017px #fff, 960px 1686px #fff, 443px 270px #fff,
    1502px 1542px #fff, 1458px 587px #fff, 1543px 588px #fff, 952px 1922px #fff,
    1105px 1075px #fff, 303px 338px #fff, 617px 1434px #fff, 148px 951px #fff,
    874px 1433px #fff, 245px 1311px #fff, 243px 161px #fff, 1286px 798px #fff,
    1798px 1567px #fff, 758px 262px #fff, 1666px 97px #fff, 168px 1400px #fff,
    1714px 568px #fff, 79px 892px #fff, 395px 1838px #fff, 1629px 1345px #fff,
    1770px 1988px #fff, 30px 1689px #fff, 1462px 317px #fff, 68px 911px #fff,
    1210px 1998px #fff, 1550px 653px #fff, 1319px 1842px #fff,
    1780px 1759px #fff, 1155px 260px #fff, 301px 632px #fff, 954px 166px #fff,
    1033px 384px #fff, 203px 120px #fff, 447px 1719px #fff, 612px 809px #fff,
    1038px 237px #fff, 1126px 1545px #fff, 1942px 23px #fff, 121px 1767px #fff,
    704px 808px #fff, 1926px 1133px #fff, 1302px 655px #fff, 1030px 597px #fff,
    244px 1310px #fff, 190px 58px #fff, 1800px 383px #fff, 1925px 370px #fff,
    1382px 548px #fff, 316px 70px #fff, 1604px 1001px #fff, 1753px 1368px #fff,
    1478px 517px #fff, 1080px 971px #fff, 358px 634px #fff, 1735px 1458px #fff,
    907px 1911px #fff, 639px 909px #fff, 164px 1245px #fff, 152px 979px #fff,
    862px 994px #fff, 1171px 458px #fff, 404px 509px #fff, 1820px 1666px #fff,
    671px 1731px #fff, 1096px 1776px #fff, 416px 1164px #fff, 69px 1094px #fff,
    298px 1294px #fff, 273px 1406px #fff, 1550px 933px #fff, 819px 730px #fff,
    1961px 872px #fff, 1049px 256px #fff, 300px 29px #fff, 1445px 435px #fff,
    1693px 344px #fff, 1756px 1669px #fff;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}
#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
